services:
    anibridge:
        image: ghcr.io/eliasbenb/plexanibridge:v1 # :vX, :vX.Y, :vX.Y.Z, :main, :develop, :experimental, :latest
        environment:
            PUID: 1000
            PGID: 1000
            UMASK: 022
            TZ: "Etc/UTC"
        volumes:
            - /path/to/anibridge/data:/config
        ports:
            - 4848:4848
        restart: unless-stopped
