services:
    plexanibridge:
        image: ghcr.io/eliasbenb/plexanibridge:v1 # :vX, :vX.Y, :vX.Y.Z, :main, :develop, :experimental, :latest
        environment:
            PUID: 1000
            PGID: 1000
            UMASK: 022
            TZ: "Etc/UTC"
            AB_ANILIST_TOKEN: ...
            AB_PLEX_TOKEN: ...
            AB_PLEX_USER: ...
            AB_PLEX_URL: ...
            # AB_PLEX_SECTIONS: '[]'
            # AB_PLEX_GENRES: '[]'
            # AB_PLEX_METADATA_SOURCE: "local"
            # AB_SYNC_INTERVAL: 86400
            # AB_SYNC_MODES: '["periodic", "poll", "webhook"]'
            # AB_FULL_SCAN: false
            # AB_DESTRUCTIVE_SYNC: false
            # AB_EXCLUDED_SYNC_FIELDS: '["notes", "score"]'
            # AB_DRY_RUN: false
            # AB_BACKUP_RETENTION_DAYS: 30
            # AB_BATCH_REQUESTS: false
            # AB_SEARCH_FALLBACK_THRESHOLD=-1
            # AB_PROFILES__example__$FIELD=$VALUE
            # AB_DATA_PATH: "/config"
            # AB_LOG_LEVEL: "INFO"
            # AB_MAPPINGS_URL: "https://raw.githubusercontent.com/eliasbenb/PlexAniBridge-Mappings/v2/mappings.json"
            # AB_WEB_ENABLED: true
            # AB_WEB_HOST: "0.0.0.0"
            # AB_WEB_PORT: 4848
            # AB_WEB_BASIC_AUTH_USERNAME: null
            # AB_WEB_BASIC_AUTH_PASSWORD: null
            # AB_WEB_BASIC_AUTH_HTPASSWD_PATH: null
            # AB_WEB_BASIC_AUTH_REALM: "AniBridge"
        volumes:
            - /path/to/plexanibridge/data:/config
        ports:
            - 4848:4848
        restart: unless-stopped
