name: Tests

on:
    push:
    pull_request:

jobs:
    pytest:
        runs-on: ubuntu-latest

        timeout-minutes: 10

        permissions:
            contents: read

        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Install uv
              uses: astral-sh/setup-uv@v7

            - name: Sync dependencies
              run: uv sync --group dev --frozen

            - name: Run pytest
              run: uv run pytest
